<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% form_class="form-group"%>
  <% form_class+=" has-error" if @user.errors.include?(:username)%>
  <div class="<%=form_class%>">
    <%= f.label :username, :class=>"control-label"%>
    <%= f.text_field :username, :class=>"form-control"%>
  </div>
  <% form_class="form-group"%>
  <% form_class+=" has-error" if @user.errors.include?(:email)%>
  <div class="<%= form_class%>">
    <%= f.label :email, :class=>"control-label"%>
    <%= f.text_field :email, :class=>"form-control" %>
  </div>
  <% form_class="form-group"%>
  <% form_class+=" has-error" if @user.errors.include?(:password)%>
  <div class="<%= form_class%>">
    <%= f.label :password, :class=>"control-label" %>
    <%= f.password_field :password, :class=>"form-control"  %>
  </div>
  <% form_class="form-group"%>
  <% form_class+=" has-error" if @user.errors.include?(:password_confirmation)%>
  <div class="<%= form_class%>">
    <%= f.label :password_confirmation, :class=>"control-label"%>
    <%= f.password_field :password_confirmation, :class=>"form-control"  %>
  </div>
  <%if current_user.admin? and current_user!=@user%>
  <div class="checkbox">
     <label>
       <%= f.check_box :admin%> Admin
     </label>
   </div>
  <%end-%>
  <div class="actions">
    <%= f.submit 'Submit', :class=>"btn btn-primary"%>
    <a href="<%=users_path%>" class="btn btn-default">Cancel</a>
  </div>
<% end %>
